.footer{
    height: 396px;
    background-color: #655247;
}

.footer_main_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 60px; 
    font-family: 'arsenal';
    font-weight: 700;
    font-size: 20px;
}

.footer_list {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px; 
    list-style: none; 
    padding: 0; 
    margin: 0;  
}

hr {
    border: none;
    border-top: 1px solid #FAF7E8; /* Customize the line as needed */
    margin: 50px 0; /* Spacing above and below the line */
    width: calc(100% - 20px); /* Full width minus left and right margins */
    margin-left: 90px; /* Left margin */
    margin-right: 90px; /* Right margin */
}

.footer_item_botton{
    font-size: 20px;
}

.footer_list_botton{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 900px;
}

.footer_icons{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
}

.footer_right_info{
    display: flex; 
    flex-wrap: wrap;
    font-family: 'inter';
    gap: 50px;
}

@media screen and (max-width: 1800px) and (min-width: 1441px) {
    .footer_list_botton {
        gap: 800px;
    }  
}

/*Big monitor*/
@media screen and (max-width: 1920px) and (min-width: 1801px) {
    .footer .wrapper{
        max-width: 1800px;
        margin-left: 58px;
        margin-right: 58px;
        
    }
    hr {
        width: 1804px;
        margin-left: 58px;
        margin-right: 58px;
    }
    .footer_item_botton{
        margin-left: 58px;
    }
}