.form_row {
    display: flex;
    align-items: center;
    /* Center align label and input */
    margin-bottom: 31px;
}

.form_row label {
    width: 175px;
    font-family: "arsenal";
    font-size: 40px;
    text-align: left;
}

.form_row input {
    /* margin-bottom: 70px; */
    /* Додатковий відступ між елементами, якщо потрібно */
    width: 564px;
    background-color: #d7dfaf;
    border: 0;
    height: 47px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-top: 0px;
    margin-left: 50px;
    font-family: "arsenal";
    font-size: 24px;
    color: #655247;
}
