.wrapper_main {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
.header_wrappper_main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.header_link{
    font-family: 'arsenal';
    font-size: 29px;
    text-decoration: none;
    color:#655247;
}
.language_switcher {
    font-family: 'arsenal';
    font-weight: 700;
    font-size: 25px;
    color: rgba(101, 82, 71, 0.65);
    display: flex;
    align-items: center;

}

.language_switcher span {
    cursor: pointer;
}

.language_switcher .active_language {
    color: #655247;
}
.header_nax{
    display: flex;
    
}
.container_header_nav{
    display: flex;
    align-items: center;
    /*  to move to right side */
    margin-left: auto;
}

/*відступи між елементами меню*/

.header_item{
    margin-right: 10px;
    
}
.header_item:last-child{
    margin-right: 0;
}

.header_button_main:hover, .header_button_main:focus, .header_button_main:active{
    background-color: #715b4f;
}
