/*Styles for page Main begin*/
.font-bold {
    font-weight: 700;
  }
  
  .highlight {
    font-weight: 700;
    text-decoration: underline;
  }
  .sections-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .page_main {
    font-family: "inter";
    color: #faf7e8;
    font-size: 24px;
    font-weight: 400;
    background: url(../images/bg_main.png) no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 100vh;
  }
  
  .first .main_text {
    font-family: "arsenal";
    font-size: 120px;
    color: #655247;
    width: 610px;
    margin-left: 750px;
    font-weight: 700;
  }
  
  .first .little_text {
    font-family: "arsenal";
    font-size: 25px;
    color: #655247;
    width: 610px;
    margin-top: 420px;
    margin-left: 750px;
  }
  
  .second .main_text {
    font-family: "arsenal";
    font-size: 120px;
    color: #faf7e8;
    width: 665px;
    margin-top: 465px;
    margin-left: 750px;
    font-weight: 400;
  }
  
  .second .little_text {
    font-family: "arsenal";
    font-size: 50px;
    color: #faf7e8;
    width: 215px;
    margin-top: 200px;
    margin-left: 1590px;
  }
  
  .third .main_text {
    font-family: "arsenal";
    font-size: 150px;
    color: #655247;
    width: 540px;
    margin-top: 375px;
    margin-left: 920px;
    font-weight: 400;
  }
  
  .third .little_text {
    font-size: 24px;
    text-align: center;
    color: #655247;
    width: 490px;
    margin-top: 300px;
    margin-left: 230px;
  }
  
  .fourth .little_text {
    font-size: 24px;
    color: #655247;
    width: 440px;
    margin-top: 380px;
    margin-left: 1340px;
  }
  
  .fourth .main_text {
    font-family: "arsenal";
    text-align: center;
    font-size: 80px;
    color: #faf7e8;
    width: 310px;
    margin-top: 340px;
    margin-left: 980px;
  }
  
  .fifth .main_text {
    font-family: "arsenal";
    text-align: center;
    font-size: 200px;
    color: #655247;
    width: 700px;
    margin-top: 550px;
    margin-left: 330px;
  }
  
  /*Styles for page Main ends*/
  
  /*Big monitor*/
  @media screen and (max-width: 1920px) and (min-width: 1801px) {
  
    .page_main {
      background: url(../images/main_page_1920.jpg) no-repeat;
      background-size: auto;
      max-width: 100%;
    }
  
    .first .little_text {
      margin-left: 655px;
      margin-top: 200px;
    }
  
    .first .main_text {
      margin-left: 655px;
      margin-top: 0px;
    }
  
    .button_main {
      margin-top: 105px;
      margin-left: 1300px;
    }
  
    .second .main_text {
      line-height: 1.1;
      margin-top: 480px;
      margin-left: 545px;
      margin-right: 0px;
      font-size: 78px;
      width: 400px;
    }
  
    .second .little_text {
      margin-top: 200px;
      margin-left: 1550px;
      width: 210px;
    }
  
    .third .main_text {
      margin-top: 90px;
      margin-left: 1025px;
      font-size: 146px;
      text-align: center;
    }
  
    .third .little_text {
      margin-top: 150px;
      margin-left: 300px;
    }
  
    .fourth .main_text {
      margin-top: 270px;
      margin-left: 860px;
      font-size: 78px;
    }
  
    .fourth .little_text {
      width: 380px;
      margin-top: 170px;
      margin-left: 1200px;
      text-align: center;
    }
  
    .footer .wrapper {
      height: 396px;
    }
  
    .fifth .main_text {
      margin-top: 240px;
      margin-left: 420px;
      font-size: 150px;
      line-height: 1.2;
    }
  
    .button_main_fifth_register {
      margin-top: 23px;
      margin-left: 610px;
    }
  
    .button_main_fifth_auth {
      margin-left: 610px;
      margin-bottom: 0px;
    }
  }
  
  /*Acer notebook*/
  @media only screen and (max-width: 1800px) and (min-width: 1441px) {
    .wrapper {
      max-width: 90%;
    }
  
    .page_main {
      background: url(../images/fon1800.png) no-repeat;
      background-size: auto;
      max-width: 100%;
    }
  
    .first .main_text {
      margin-left: 650px;
    }
  
    .first .little_text {
      margin-top: 160px;
      margin-left: 650px;
    }
  
    .button_main {
      margin-left: 750px;
    }
  
    .second .main_text {
      margin-top: 400px;
      margin-left: 790px;
      font-size: 90px;
      width: 400px;
    }
  
    .second .little_text {
      margin-top: 250px;
      margin-left: 1370px;
      font-size: 30px;
      width: 150px;
    }
  
    .third .main_text {
      margin-top: 50px;
      margin-left: 780px;
      font-size: 150px;
      text-align: center;
    }
  
    .third .little_text {
      margin-top: 100px;
      margin-left: 220px;
    }
  
    .fourth .main_text {
      margin-top: 280px;
      margin-left: 880px;
    }
  
    .fourth .little_text {
      width: 400px;
      margin-top: 190px;
      margin-left: 1100px;
      text-align: center;
      font-size: 22px;
    }
  
    .fifth .main_text {
      margin-top: 230px;
      margin-left: 410px;
      font-size: 150px;
      line-height: 1.2;
    }
  
    .button_main_fifth_register {
      margin-top: 62px;
      margin-left: 600px;
    }
  
    .button_main_fifth_auth {
      margin-left: 600px;
      margin-bottom: 71px;
    }
  }
  
  /* mac Safari 1440*479 */
  @media only screen and (max-width: 1440px) and (min-width: 1001px) {
    .page_main {
      background: url(../images/bg-main\ for\ mac\,\ safari.png) no-repeat;
      background-size: auto;
      max-width: 100%;
      /* або можна видалити цю властивість повністю */
    }
  
    /* .sections-wrapper{
      width: 1440px;
    } */
  
    .first .little_text {
      margin-left: 595px;
      margin-top: 190px;
    }
  
    .first .main_text {
      margin-left: 595px;
      margin-top: 0px;
      line-height: 1.2;
    }
  
    .button_main {
      margin-top: 105px;
      margin-left: 1023px;
    }
  
    .second .main_text {
      line-height: 1.1;
      margin-top: 345px;
      margin-left: 545px;
      margin-right: 0px;
      font-size: 80px;
      width: 400px;
    }
  
    .second .little_text {
      margin-top: 220px;
      margin-left: 1210px;
      width: 210px;
    }
  
    .third .main_text {
      margin-top: 50px;
      margin-left: 660px;
      font-size: 150px;
      text-align: center;
    }
  
    .third .little_text {
      margin-top: 100px;
      margin-left: 180px;
    }
  
    .fourth .main_text {
      margin-top: 250px;
      margin-left: 730px;
    }
  
    .fourth .little_text {
      width: 380px;
      margin-top: 170px;
      margin-left: 950px;
      text-align: center;
    }
  
    .footer .wrapper {
      height: 396px;
    }
  
    .fifth .main_text {
      margin-top: 180px;
      margin-left: 310px;
      font-size: 150px;
      line-height: 1.2;
    }
  
    .button_main_fifth_register {
      margin-top: 43px;
      margin-left: 500px;
    }
  
    .button_main_fifth_auth {
      margin-left: 500px;
    }
  }
  
  
  @media screen and (max-width: 1000px) and (min-width: 481px) {
    .wrapper {
      max-width: 80%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .wrapper {
      max-width: 60%;
    }
  
  }
  