.page_reg {
    font-family: "inter";
    color: #655247;
    font-size: 24px;
    font-weight: 400;
    background: url(../images/bg-reg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 100vh;
    /* Доданий min-height, щоб забезпечити, що елемент займає хоча б 100% висоти екрана */
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
    /* Центрування по горизонталі */
}

.form_reg {
    margin-top: 42px;
    margin-bottom: 60px;
    width: 1030px;
    height: 795px;
    background-color: #faf7e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Додано для центрування форми по вертикалі */
    align-items: center;
    border-radius: 30px;
}

.form_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
}

.form_input_field {
    margin-bottom: 34px;
    /* Додатковий відступ між елементами, якщо потрібно */
    width: 564px;
    background-color: #d7dfaf;
    border: 0;
    height: 74px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-top: 7px;
}

.form_reg h1 {
    font-family: "arsenal";
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    padding-top: 54px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.form_input_field::placeholder {
    font-family: "arsenal";
    color: #655247;
    font-size: 40px;
}

.submit_button {
    width: 564px;
    height: 74px;
    font-family: "arsenal";
    font-size: 40px;
    color: #faf7e8;
    background-color: #655247;
    border: none;
    box-shadow: 3px 9px 35px 0 #d1baa8;
    border-radius: 30px;
    margin-top: 114px;
}

.submit_button_reg {
    width: 564px;
    height: 74px;
    font-family: "arsenal";
    font-size: 40px;
    color: #faf7e8;
    background-color: #655247;
    border: none;
    box-shadow: 3px 9px 35px 0 #d1baa8;
    border-radius: 30px;
    margin-top: 40px;
}

.submit_button_enter {
    font-family: "arsenal";
    color: #655247;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: transparent;
    border: none;
    width: 564px;
    height: 74px;
    margin-bottom: 60px;
}

.text_input {
    align-items: center;
    margin-top: 86px;
    font-size: 20px;
}