/*коректне обчислення розмірів елементів */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

/*Header styles starts*/

.header_wrappper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header_link {
  font-family: "arsenal";
  font-size: 29px;
  text-decoration: none;
  color: #655247;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

/*відступи між елементами меню*/

.header_item {
  margin-right: 10px;
}

.header_button {
  width: 287px;
  height: 57px;
  font-size: 29px;
  font-family: "arsenal";
  color: #655247;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #d7dfaf;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}

/*Header styles ends*/

/*Styles for ForgotPass page starts*/

.main_block_forgot_pass {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*Styles for ForgotPass page ends*/

