.wrapper {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.header_wrappper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.header_link{
    font-family: 'arsenal';
    font-size: 29px;
    text-decoration: none;
    color:#655247;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}

/*відступи між елементами меню*/

.header_item{
    margin-right: 10px;
    
}
.header_item:last-child{
    margin-right: 0;
}

.header_button:hover, .header_button:focus, .header_button:active{
    background-color: #ccd3aa;
}

